@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

:root {
  --bg-color: rgb(52 52 53);
}

.App {
  margin: auto 0;
  text-align: center;
  background-color: var(--bg-color);
}

html,
body {
  font-family: "monospace";
  /* overflow: hidden; */
}

footer {
  height: 50em;
  background-color: var(--bg-color);
}
